.settings__tab {
    display: flex;
}

.settings__tab > div {
    width: 40vw;
    text-align: center;
    margin-top: 1rem;
}

.MuiTabs-root {
    width: auto !important;
}

.settings__div {
    text-align: center;
}

.settings__title {
    position: relative;
    margin-top: 20px;
}

.settings__title > .MuiButtonBase-root {
    position: absolute;
    top: 0;
    right: 5%;
}

.settings__option {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.settings__option > p {
    margin-left: 10px;
}

.settings__header .MuiSvgIcon-root {
    display: inline;
    margin-bottom: 5px;
}

.settings__header > h2 {
    margin-right: 10px;
    margin-bottom: 20px;
}

.settings__body > p {
    margin: 10px;
}

.settings__body > .MuiButtonBase-root{
    margin: 0 10px;
}

.settings__body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    width: 90%;
}

.settings__body > div > p {
    margin-right: 10px;
}

@media screen and (max-width: 840px) {

    .settings__header {
        margin: 20px 10px;
    }

    .settings__header > h2 {
        display: inline;
    }
}